<div class="card mb-5 left">
    <div class="card-header bg-secondary">
        <div>
            <h6 class="card-title"><a class="text-info" style="color: var(--accent)">{{commentDescription}}</a></h6>
            <h7 class="card-subtitle mb-2 text-light">Commented By: {{user.username}} Commented on: {{format_date created_at}}  :: {{format_time created_at}}</h7>
        </div>
    </div>
</div>