<div class="comment-sec">
    <div>
        <div>
            <h6><a class="text-info">{{commentDescription}}</a></h6>
            <h7>Commented By: {{user.username}} Commented on: {{format_date created_at}}  :: {{format_time created_at}}</h7>
        </div>
    </div>
</div>