<div class="comment-sec">
    <div>
        <div>
            <h6 class="text-info" style="font-size:20px">{{commentDescription}}</h6>
            <h7 style="color:var(--accent)">Commented By: {{user.username}} Commented on: {{format_date created_at}}  :: {{format_time created_at}}</h7>
        </div>
    </div>
</div>