<div class="card mb-5">
    <div class="card-header bg-secondary">
        <div>
            <h6 class="card-title"><a class="text-info">{{postDescription}}</a></h6>
            <h7 class="card-subtitle mb-2 text-light">Posted on: {{format_date created_at}}  :: {{format_time created_at}}</h7>
            <button class="card button" ><a href="/post/{{id}}" style="color: white;">Add Comment</a></button>
        </div>
    </div>
</div>