<main class="comment">
  <h3>Add New Comment</h3>
  <div>
    <label class="form-label" for="content">Post Desc: {{currentPost.postDescription}}</label>
    <textarea id="content" name="content" class="form-input w-100" aria-label="With textarea" autofocus="true"
      placeholder="Enter a comment"></textarea>
    <button type="submit" class="w-100 btn btn-lg btn-info mb-3" onclick="commentHandler(event)">Create</button>
  </div>
</main>

<script src="/js/comment.js"></script>