<h4>Login user's Login page</h4>

{{!-- {{#if posts.length}}
<section>
  <h2>Post History</h2>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{else}}
<h6 class="pb-2 has-text-centered">you do not currently have any posts</h6>
{{/if}}
<button type="submit" class="btn"><a class="link" href="/dashboard/new">Add New Post</a></button> --}}





{{!-- <button type="submit" class="btn"><a class="link" href="/add-post">Add New Post</a></button> --}}