
<div id="vanta-canvas">

</div>

<div class="valign-wrapper">

    <div class="intro-text">
        <h2> Read. Review. Discuss.</h2>
        <p> A safe place for all Bookworms</p>
    </div>   

    <div class= "about-text">
        <h2> Get Started and join the <span>community.</span></h2>
        <a type="button" class=""> Get Started </a>
    </div>

</div>