<main class="form-signin text-center">
  <form id="login-form">
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="username-login"  autofocus="true">
      <label for="username-login">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password-login"  autofocus="true">
      <label for="password-login">Password</label>
    </div>

    <button style="border: 3px solid var(--accent);
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 2px;
  cursor: pointer;
  transition: 1s;
  background-color:transparent; margin-right: 20px; margin-top: 20px; padding: 3px" type="submit">Sign in</button>
    <a class="login-link" style="border: 3px solid var(--accent);
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 2px;
  cursor: pointer;
  transition: 1s;
  background-color: var(--accent); padding: 3px" href="/sign-up">Sign up instead</a>
  </form>
</main>

<script src="/js/login.js"></script>