<main class="search center">
    <h3>Search Books</h3>
    
    <form class="search-form">

        <input id="booktitle" placeholder="Enter a book title to search" style= "border: 5px solid var(--accent);
  border-radius: 9px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 2px;
  transition: 1s;
  background-color:transparent; margin-right: 20px; margin-top: 20px; padding: 3px" name="search-title" />

        <button style="border: 3px solid var(--accent);
  border-radius: 5px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  padding: 2px;
  cursor: pointer;
  transition: 1s;
  background-color:transparent; margin-top: 20px; padding: 3px" type="submit"  onclick="titleHandler(event)">Search</button>

    </form>
    <div>
        <h5>Search books by Genre</h5>
        <button class="btn" type="submit" id="Science" onclick="genreHandler(event, 'Science')">Science</button>
        <button class="btn" type="submit" id="Technology" onclick="genreHandler(event, 'Technology')">Technology</button>
        <button class="btn" type="submit" id="Adventure" onclick="genreHandler(event, 'Adventure')">Adventure</button>
        <button class="btn" type="submit" id="Humor" onclick="genreHandler(event, 'Humor')">Humor</button>
        <button class="btn" type="submit" id="History" onclick="genreHandler(event, 'History')">History</button>
        <button class="btn" type="submit" id="Travel" onclick="genreHandler(event, 'Travel')">Travel</button>
        <button class="btn" type="submit" id="Literary" onclick="genreHandler(event, 'Literary')">Literary</button>
        <button class="btn" type="submit" id="Children" onclick="genreHandler(event, 'Children')">Children</button>
        <button class="btn" type="submit" id="Memoir" onclick="genreHandler(event, 'Memoir')">Memoir</button>
        <button class="btn" type="submit" id="Engineering" onclick="genreHandler(event, 'Engineering')">Engineering</button>
    </div>
    <div>
    <br>
    <br>
        <h6>Search Result:</h6>
        <div id="imageContainer" class="card-main">
        </div>
    </div>
</main>

{{!-- making changes to search page --}}
<script src="/js/search.js"></script>