/* nav {
    display:flex;
    flex-wrap:wrap;  
  }
  nav a {
    display:flex;
    color:black;
    padding: 10px;
    margin-left: 20px;
    align-items: flex-end;
    text-decoration: none;
  }  
  main {
    display: flex;
    flex-wrap: wrap;
  } */

  :root{
    --accent: #167C80;
    --primary : #ffffff;
    --dark : #00AAB6;
    --black : black;
  }


  html, body{
    font-family: 'Gemunu Libre', sans-serif;
  }


  #vanta-canvas {
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
   }

   .nav-wrapper {
    border-bottom: 2px solid var(--accent);
}

i{
  color: var(--accent);
}

nav{
  background-color: transparent;
  box-shadow: none !important;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

#nav-item {
  color: black;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50px;
}

#nav-item:hover {
  transition: 0.5s;
  color: var(--accent);
  font-size: 25px;
}

#mob-nav-item {
  color: black;
  font-size: 20px;
  cursor: pointer;
}

#mob-nav-item-1 {
  color: black;
  font-size: 20px;
  cursor: pointer;
  margin-left: 32px;
}

.logoutBtn-mob{
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.logoutBtn {
  color: black;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50px;
}

.logoutBtn:hover{
  transition: 0.5s;
  color: var(--accent);
  font-size: 25px;
}

.intro-text{
  position: absolute;
  top: 35%;
  margin-left: 5%;
} 

.brand-logo{
  margin-left: 15px;
  font-size: 30px !important;
  color: var(--accent) !important;
}



.intro-text h2 {
  font-size: 60px;
}

.intro-text p {
  font-size: 30px;
  color: var(--accent);
}

.about-text {
  position: absolute;
  top: 35%;
  left: 70%;
} 


.about-text span {
  color: var(--accent);
}

.about-text a{ 
 border: 3px solid var(--accent);
 border-radius: 5px;
 font-size: 20px;
 text-decoration: none;
 color: black;
 padding: 5px;
 cursor: pointer;
 transition: 1s
}

.about-text a:hover {
  background-color: var(--accent);
  color: white;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.card-main {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card button {
  background: red;
  color: #fff;
}

.card img {
  overflow-x: scroll;
  width: 100%;
  /* The client insists that images be at least 400px */
  min-width: 50px;
}

.mybooklist{
  padding: 20px;
}

.search{
  padding: 20px;
}

.post{
  padding: 20px;
}

.comment{
  padding: 20px;
}

.blog{
  padding: 20px;
}

.blogImage {
  flex: 1;
  padding: 10px;
  text-align: center;
  width: 15%;
  /* The client insists that images be at least 400px */
  min-width: 50px;
}

.noPosts {
  font-weight: bold;
  font-style: italic;
  color:purple;
}

.blog-sec{
  display: flex;
}

.posts-list li{
  border: 3px solid var(--accent);
  box-shadow: 20px 20px var(--accent);
  padding: 10px;
  margin-left: 10%;
}

.posts-list li:hover{
  transform: scale(1.05);
  transition: 1s ease-in-out;
}

.comment-btn {
  border: 3px solid var(--accent);
  border-radius: 5px;
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding: 2px;
  cursor: pointer;
  transition: 1s
}

.comment-btn:hover{
  background-color: var(--accent);
  color: white;
}

.book-list li{
  border: 2px solid var(--accent);
  box-shadow: 20px 20px var(--accent);

}

.book-list li:hover{
  transform: scale(1.05);
  transition: 1s ease-in-out;
}


textarea{
  border: 5px solid var(--accent) !important;
  border-radius: 5px;
  resize: none;
  height: 200px;
  margin-bottom: 25px
}


.signup-form{
  
}