/* nav {
    display:flex;
    flex-wrap:wrap;  
  }
  nav a {
    display:flex;
    color:black;
    padding: 10px;
    margin-left: 20px;
    align-items: flex-end;
    text-decoration: none;
  }  
  main {
    display: flex;
    flex-wrap: wrap;
  } */

  :root{
    --accent: #167C80;
    --primary : #ffffff;
    --dark : #00AAB6;
    --black : black;
  }


  html, body{
    font-family: 'Gemunu Libre', sans-serif;
  }


  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.card-main {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card button {
  background: red;
  color: #fff;
}

.card img {
  overflow-x: scroll;
  width: 100%;
  /* The client insists that images be at least 400px */
  min-width: 50px;
}

.mybooklist{
  padding: 20px;
}

.search{
  padding: 20px;
}

.post{
  padding: 20px;
}

.comment{
  padding: 20px;
}

.blog{
  padding: 20px;
}

.blogImage {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 10%;
  /* The client insists that images be at least 400px */
  min-width: 50px;
}